<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include '8navbar.html' %}<br>
<form method="post">{% csrf_token %}
    <center>
        <div>
            <div style="border-style:ridge;width:400px;margin:5%">
                <div style="width:300px;margin:5%;">
                    <h1>Employee Login</h1><br><br>
                    <input type="email" name="m" placeholder="abc@mail.com"><br>
                    <input type="password" PLACEHOLDER="*****" name="p"><br><br>
                    <input type="submit" style="color:white;background-color:black" value="login">
                </div>
            </div>
        </div>
    </center>
</form>
</body>
</html>