<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <style>
        .column1 {
          float: left;
          width: 70%;


        }

        .column2 {
          color:white;
          width:100%;
          background: rgb(44,117,200);
          background: linear-gradient(90deg, rgba(44,117,200,1) 40%, rgba(21,176,187,1) 100%);
          border-radius : 20px;
        }

        .row1:after {
          content: "";
          display: table;
          clear: both;

        }

    </style>
    <title>Website menu 06</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/style.css">

</head>
<body style="background-color:white">
<section class="ftco-section" style="background-color:#f05146;color:White">
    <div class="container" >
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-2 mt-2">
                <h2 class="heading-section" style="font-size:40px">Job Portal</h2>
            </div>
        </div>
    </div>
<!--    <div class="wrap">-->
<!--        <div class="container">-->
<!--            <div class="row justify-content-between">-->
<!--                <div class="col">-->
<!--                    <p class="mb-0 phone"><span class="fa fa-phone"></span> <a href="#">+00 1234 567</a></p>-->
<!--                </div>-->
<!--                <div class="col d-flex justify-content-end">-->
<!--                    <div class="social-media">-->
<!--                        <p class="mb-0 d-flex">-->
<!--                            <a href="#" class="d-flex align-items-center justify-content-center"><span-->
<!--                                    class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>-->
<!--                            <a href="#" class="d-flex align-items-center justify-content-center"><span-->
<!--                                    class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>-->
<!--                            <a href="#" class="d-flex align-items-center justify-content-center"><span-->
<!--                                    class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>-->
<!--                            <a href="#" class="d-flex align-items-center justify-content-center"><span-->
<!--                                    class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">HOME</a>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav m-auto">
                     <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Login</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="/login/">Company Login</a>
                            <a class="dropdown-item" href="/compreg/">Company Registration</a>
                            <a class="dropdown-item" href="/employeelogin/">Employee Login</a>
                            <a class="dropdown-item" href="/employeeregis/">Employee Registration</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Catalog</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">About Us</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                </ul>
            </div>
            <form action="#" class="searchform order-sm-start order-lg-last">
                <div class="form-group d-flex">
                    <input type="text" class="form-control pl-3" placeholder="Search">
                    <button style="width:40px" type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span>
                    </button>
                </div>
            </form>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
        </div>
    </nav>
    <!-- END nav -->

</section>



<script src="{% static 'assets1/js/jquery.min.js' %}"></script>
<script src="{% static 'assets1/js/popper.js' %} "></script>
<script src="{% static 'assets1/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets1/js/main.js' %}"></script>

    <div class="container-fluid" style="width:90%">
        <div class="row1 mt-5" style="display:flex;justify-content:center;align-items:center;" >
            <div class="column1 text-center" >
                <div class = "column2" style="float:left">
                    <div style="margin:5% ">This project has two modules.<br>
                        First is the company module and the second is
                        the employee or the user module.
                        <br><br>
                        You can use this web application to post job vacancies as an employer(company)
                        and also can apply for the same job vacancy as a job seeker(user).
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

